[project]
	description = Bayes Network project for PSZT
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Lukasz Kostyra (LKostyra)
[access "refs/for/refs/*"]
	read = group user/Lukasz Kostyra (LKostyra)
	push = group user/Lukasz Kostyra (LKostyra)
	label-Code-Review = -2..+2 group user/Lukasz Kostyra (LKostyra)
	label-Verified = -1..+1 group user/Lukasz Kostyra (LKostyra)
	rebase = group user/Lukasz Kostyra (LKostyra)
	removeReviewer = group user/Lukasz Kostyra (LKostyra)
	submit = group user/Lukasz Kostyra (LKostyra)
[access "refs/heads/*"]
	read = group user/Lukasz Kostyra (LKostyra)
	create = group user/Lukasz Kostyra (LKostyra)
	push = +force group user/Lukasz Kostyra (LKostyra)
	pushMerge = group user/Lukasz Kostyra (LKostyra)
[access "refs/tags/*"]
	push = +force group user/Lukasz Kostyra (LKostyra)
	pushTag = group user/Lukasz Kostyra (LKostyra)
	pushSignedTag = group user/Lukasz Kostyra (LKostyra)
[submit]
	action = fast forward only
	mergeContent = false
